.landing-nav-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 80px;
  width: 100%;
  color: white;
}

.landing-nav-bar-button {
  padding: 30px;
  font-weight: 600px;
}

.landing-nav-bar-button:hover {
  border-bottom: 2px solid white;
}

.landing-linkedin {
  background-image: image-url('linkedin-white.png');
  background-size: cover;
  padding: 17px;
  margin: 24px 30px;
}

.landing-github {
  background-image: image-url('github-white.png');
  background-size: cover;
  padding: 18px;
  margin: 22px 30px
}


.landing-link-button:hover {
  border-bottom: 2px solid white;
}

.landing-links-container {
  display: flex;
}

.landing-left-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.landing-search-bar {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  width: 700px;
  background-color: white;
  position: absolute;
  top: 346px;
  left: 245px;
}

.landing-search-bar > i {
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
}

.landing-search-bar-input {
  font-weight: 800;
  font-size: 24px;
  width: 100%;
}

.landing-page-container {
  background-image: image-url('coast-background.jpg');
  background-size: cover;
  width: 100%;
  height: 900px;
}

.landing-page-text {
  font-size: 36px;
  color: white;
  top: 290px;
  left: 246px;
  position: absolute;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.landing-profile-pic-container {
  background-color: rgb(242, 242, 242);
  box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.landing-nav-bar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  margin: 0px 5px;
  margin-right: 10px;
}

.landing-nav-bar-profile:hover {
  border-bottom: 2px solid white;
}

.logo-white {
  background-image: image-url('airbnb-logo-white.png');
  background-size: contain;
  width: 30px;
  height: 32px;
  margin-left: 25px;
  margin-right: 23px;
}

