.pictures-container {
  height: 600px;
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  color: #4e4126;
  line-height: 16px;
}

.large-pic {
  width: 100%;
  height: 100%;
}

.default-big-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.small-pic {
  height: 50%;
  width: 50%;
}

.default-small-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 50%;
  width: 50%;
}


.picture-large {
  height: 100%;
  width: 50%;
}

.pictures-small {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.show-page-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: auto;
  min-height: 1700px;
  width: 65%;
}

.sticky-page-booking {
  position: sticky;
  top: 0;
  width: 326px;
  height: 472px;
  padding: 0px 24px;
  border: 1px solid #e4e4e4;
  background-color: white;
  margin-left: 40px;
}

.show-page-content {
  width: 50%;
  overflow: hidden;
}

.house-type {
  font-size: 12px;
}

.show-page-header-content > h1 {
  font-size: 36px;
}

.city-type {
  font-size: 16px;
  font-weight: 400;
}

.show-page-header {
  width: 100%;
  height: 118px;
}

.show-house-info {
    padding-bottom: 5px;
}

.house-info-detail > i {
  margin-right: 12px;
}

.house-info-detail > span {
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 350;
}

.show-page-description {
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
}

.line-space {
  border-top: 1px solid #EBEBEB;
  width: 100%;
}

.line-space-container {
  padding: 20px 0px;
}

.show-page-info-header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 20px;
}

.amenity-container {
  display: flex;
  justify-content: space-around;
}

.amenity {
  font-weight: normal;
  font-size: 16px;
}

.booking-header {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.booking-price {
  font-size: 22px;
  padding-bottom: 5px;
}

.booking-price > span {
  font-size: 12px;
  font-weight: normal;
}

.booking-rating {
  color: #008489;
  font-size: 8px;
}

.line-space-container-booking {
  padding: 10px;
}