.listings-index-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-width: 80%;
  min-height: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.listings-index-container a {
  height: 100%;
  width: 100%;
}

.listing-item-container {
  padding: 10px;
  height: 100%;
  width: 24%;
  object-fit: cover;
}

.listing-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
}

.where-to-stay {
  padding-top: 24px;
  padding-left: 31px;
  font-size: 25px;
  width: 100%;
  height: 50px;
  margin: 0px;
  text-align: left;
}

.rating {
  color: #008489;
}

.photo-container {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.listing-type {
  font-size: 12px;
}

.slider-controller-bottomcenter {
  bottom: -20px;
}