.pictures-container {
  height: 600px;
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  color: #4e4126;
  line-height: 16px;
}

.large-pic {
  width: 100%;
  height: 100%;
  transition: transform .1s;
}

.large-pic:hover {
  transform: scale(1.1);
}

.default-big-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: transform .1s;
}

.default-big-pic:hover {
  transform: scale(1.1);
}

.small-pic {
  height: 100%;
  width: 100%;
  transition: transform .05s;
}

.small-pic:hover {
  transform: scale(1.1);
}

.default-small-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 50%;
  width: 50%;
  transition: transform .1s;
}


.picture-large {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.pictures-small {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.show-page-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: auto;
  min-height: 1700px;
  width: 65%;
}

.sticky-page-booking {
  position: sticky;
  top: 0;
  width: 326px;
  height: 348px;
  padding: 0px 24px;
  border: 1px solid #e4e4e4;
  background-color: white;
  margin-left: 40px;
}

.show-page-content {
  width: 50%;
  overflow: hidden;
}

.house-type {
  font-size: 12px;
}

.show-page-header-content > h1 {
  font-size: 36px;
}

.city-type {
  font-size: 16px;
  font-weight: 400;
}

.show-page-header {
  width: 100%;
  height: 118px;
}

.show-house-info {
    padding-bottom: 5px;
}

.house-info-detail > i {
  margin-right: 12px;
}

.house-info-detail > span {
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 350;
}

.show-page-description {
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
}

.line-space {
  border-top: 1px solid #EBEBEB;
  width: 100%;
}

.line-space-container {
  padding: 20px 0px;
}

.show-page-info-header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 20px;
}

.amenity-container {
  display: flex;
  justify-content: space-around;
}

.amenity {
  font-weight: normal;
  font-size: 16px;
}

.booking-header {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.booking-price {
  font-size: 22px;
  padding-bottom: 5px;
}

.booking-price > span {
  font-size: 12px;
  font-weight: normal;
}

.booking-rating {
  color: #008489;
  font-size: 8px;
}

.line-space-container-booking {
  padding: 10px;
}

.form-submit-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.book-form-submit {
  margin: 15px 0px;
  margin-left: 12px;
  background: rgb(255, 90, 95);
  border-radius: 4px;
  border-width: 2px;
  color: white;
  width: 300px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  border: 5px 0;
  padding-right: 3px;
}

.booking-fields span {
  font-size: 12px;
  font-weight: 450;
  color: rgb(72, 72, 72);
}

.space-box {
  padding: 20px;
}

.form-submit-section > span {
  color: rgb(72, 72, 72);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.small-pictures-container {
  height: 50%;
  width: 50%;
  overflow: hidden;
}