.listings-index-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  min-width: 80%;
  min-height: 280px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.listings-index-container a {
  height: 100%;
  width: 100%;
}

.listing-item-container {
  padding: 10px;
  height: 370px;
  width: 373px;
  object-fit: cover;
}

.listing-item-container-index {
  padding: 10px;
  height: 370px;
  width: 19%;
  object-fit: cover;
}

.listing-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
}

.where-to-stay {
  padding-top: 24px;
  padding-left: 31px;
  font-size: 25px;
  width: 100%;
  height: 50px;
  margin: 0px;
  text-align: left;
}

.rating i {
  color: #008489;
  font-size: 8px;
}

.photo-container {
  height: 248px;
  width: 100%;
  margin-bottom: 10px;
}

.listing-type {
  font-size: 12px;
}

.slider-controller-bottomcenter {
  bottom: -20px;
}
.listing-nightly-info {
  padding: 4px 0px;
  display: block;
}

.map-details-header {
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.map-details {
  padding-bottom: 25px;
  font-weight: normal;
}