.pictures-container {
  height: 600px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  color: #4e4126;
  line-height: 16px;
}

.pictures-container:hover {
  filter: brightness(80%);
}

.default-small-pic:hover {
  filter: brightness(110%);
}

.large-pic {
  width: 100%;
  height: 100%;
  transition: transform 435ms;
}

.large-pic:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

.default-big-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: transform 435ms;
}

.default-big-pic:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

.small-pic {
  height: 100%;
  width: 100%;
  transition: transform 435ms;
}

.small-pic:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}

.default-small-pic {
  background-image: image-url('model_home.jpg');
  background-size: cover;
  height: 50%;
  width: 50%;
  transition: transform 435ms;
}

.default-small-pic:hover {
  transform: scale(1.05);
  filter: brightness(110%);
}


.picture-large {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.pictures-small {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.show-page-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: auto;
  min-height: 1700px;
  width: 65%;
}

.sticky-page-booking {
  position: sticky;
  top: 0;
  width: 336px;
  height: 374px;
  padding: 0px 24px;
  border: 1px solid #e4e4e4;
  background-color: white;
  margin-left: 40px;
}

.show-page-content {
  width: 55%;
  overflow: hidden;
}

.house-type {
  font-size: 12px;
}

.show-page-header-content > h1 {
  font-size: 36px;
  margin-bottom: 3px;
  overflow: hidden;
}

.show-page-header-content {
  display: flex;
  flex-direction: column;
}

.city-type {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

.show-page-header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.show-house-info {
    padding-bottom: 5px;
}

.house-info-detail > i {
  margin-right: 12px;
}

.house-info-detail > span {
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 350;
}

.show-page-description {
  padding-top: 10px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
}

.line-space {
  border-top: 1px solid #EBEBEB;
  width: 100%;
}

.line-space-container {
  padding: 25px 0px;
}

.show-page-info-header {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 20px;
}

.amenity-container {
  display: flex;
  justify-content: space-around;
}

.amenity {
  font-weight: normal;
  font-size: 16px;
}

.booking-header {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.booking-price {
  font-size: 22px;
  padding-bottom: 5px;
}

.booking-price > span {
  font-size: 12px;
  font-weight: normal;
}

.booking-rating {
  color: #008489;
  font-size: 8px;
}

.line-space-container-booking {
  padding: 10px;
}

.form-submit-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.book-form-submit {
  margin: 15px 0px;
  background: rgb(255, 90, 95);
  border-radius: 4px;
  border-width: 2px;
  color: white;
  width: 288px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  border: 5px 0;
  padding-right: 3px;
}

.booking-fields span {
  font-size: 12px;
  font-weight: 450;
  color: rgb(72, 72, 72);
  margin: 5px 0px;
}

.space-box {
  padding: 20px;
}

.form-submit-section > span {
  color: rgb(72, 72, 72);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.small-pictures-container {
  height: 50%;
  width: 50%;
  overflow: hidden;
}

.large-picture-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.user-profile-picture-container {
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 7px;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
}

.user-picture {
  height: 100%;
  width: 100%;
}

.show-page-user-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-profile-name {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #767676;
  text-align: center;
}

.date-range-picker {
  margin: 5px 0px;
}

.date-picker-container {
  margin: 5px 0px;
}

.guest-button-container {
  margin: 5px 0px;
  width: 286px;
  height: 50px;
}

.guest-input {
  width: 100%;
  height: 100%;
  padding: 8px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgb(235, 235, 235);
  font-size: 20px;
  font-weight: normal;
}

.spinner-body {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

// .spinner {
//   height: 100%;
//   width: 100%;
// }