 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-height: 353px;
  width: 568px;
}

.modal-child-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-height: 239px;
  width: 568px;
}

.session-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.session-form-fields label input {
  color: #484848;
  border: 1px solid rgb(235, 235, 235);
  font-size: 16px;
  border-radius: 4px;
  width: 73%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 29px;
  padding-left: 5px;
  font-weight: 400;
  margin-bottom: 5px;
}

.session-form-fields label input:focus {
  border: 1px solid green;
}

.parent-session-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session-form-fields label {
  width: 100%;
  margin-left: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.session-form-fields label i {
  margin: 10px;
}

.session-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.session-form-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-submit {
  margin: auto;
  background: rgb(255, 90, 95);
  border-radius: 4px;
  border-width: 2px;
  color: white;
  width: 366px;
  text-align: center;
  padding: 10px 0;
  border: 5px 0;
  padding-right: 3px;
  margin-bottom: 5px;
}

.form-submit:hover {
  cursor: pointer;
}

.parent-session-form-fields div {
  margin: auto;
  width: 80%;
}

.other-form {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: rgb(72, 72, 72);
  margin-top: 5px;
}

.other-form-button {
  margin-left: 10px;
  color: #008489;
}

.form-title {
  margin-bottom: 5px;
}

.session-error {
  color: #d93900;
  font-size: 14px;
  font-weight: normal;
}

.errors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}

.exit-modal {
  height: 16px;
  width: 16px;
  margin-left: 11px;
  color: rgb(118, 118, 118);
  text-align: center;
  font-weight: 300;
  margin-top: 8px;
  cursor: pointer;
}