.nav-bar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
}

.nav-bar-button {
  padding: 30px;
  font-weight: 600px;
}

.nav-bar-button:hover {
  border-bottom: 2px solid #A6000000;
}

.logo {
  background-image: image-url('airbnb-logo.png');
  background-size: contain;
  width: 30px;
  height: 32px;
  margin-left: 25px;
  margin-right: 23px;
}

.linkedin {
  background-image: image-url('linkedin.png');
  background-size: cover;
  padding: 17px;
  margin: 24px 30px;
}

.github {
  background-image: image-url('github.png');
  background-size: cover;
  padding: 18px;
  margin: 22px 30px
}

.link-button {
  opacity: 0.65;
}

.link-button:hover {
  border-bottom: 2px solid black;
}

.links-container {
  display: flex;
}

.left-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 543px;
}

.search-bar {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 58%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  width: 465px;
}

.search-bar > i {
  font-size: 18px;
  margin-left: 18px;
  margin-right: 20px;
}

.search-bar-input {
  font-weight: 800;
  font-size: 16px;
  width: 100%;
  color: black;
}

.bar-separator {
  width: 500px;
  height: 1px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 5px;
}

.profile-pic-container {
  background-color: rgb(242, 242, 242);
  box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-bar-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  margin: 0px 5px;
  margin-right: 10px;
}

.nav-bar-profile:hover {
  border-bottom: 2px solid gray;
}

.dropdown {
  display: hidden;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 282px;
  height: 300px;
  border: 1px solid rgb(235, 235, 235);
  border-top: none;
  top: 80px;
  right: 11px;
  z-index: 3;
}

.dropdown li {
  display: flex;
}

.dropdown-button {
  padding-top: 8px;
  padding-bottom: 19px;
  margin: 10px;
  margin-left: 22px;
  border-bottom: 1px solid darkgray;
  width: 80%;
  font-size: 14px;
  color: rgb(118, 118, 118);
  font-weight: 600;
}

.dropdown-button:hover {
  border-bottom: 1px solid black;
}