.nav-bar-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: rgb(255, 255, 255);
  height: 80px;
  position: fixed;
  width: 100%;
}


.nav-bar-button {
  padding: 30px;
  font-weight: 600px;
}

.nav-bar-button:hover {
  border-bottom: 4px solid black;
}

.logo {
  background-image: image-url('airbnb-logo.png');
  background-size: contain;
  width: 50px;
  height: 54px;
  margin-left: 10px;
  margin-top: -4px;
  margin-right: 20px;
}

.linkedin {
  background-image: image-url('linkedin.png');
  background-size: cover;
  padding: 17px;
  margin: 24px 30px;
}

.github {
  background-image: image-url('github.png');
  background-size: cover;
  padding: 18px;
  margin: 22px 30px
}

.link-button {
  opacity: 0.65;
}

.link-button:hover {
  border-bottom: 4px solid black;
}

.links-container {
  display: flex;
}

.left-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.search-bar {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 60%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  width: 430px;
}

.search-bar > i {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 8px;
}

.search-bar-input {
  font-weight: 800;
  font-size: 17px;
  width: 100%;
}