.profile-container {
  margin: auto;
  width: 73%;
  display: flex;
  flex-wrap: wrap;
}

.profile-header {
  color: #484848;
  padding-top: 25px;
  font-size: 32px;
  font-weight: normal;
  // margin-left: 135px;
  margin: auto;
  width: 73%;
}

.profile-index-item {
  margin-top: 40px;
  margin-right: 20px;
  width: 31%;
  min-height: 250px;
  border: 1px solid lightgray;
  max-width: 325px;
}

.profile-index-container {
  height: 40%;
}

.owner-profile-picture {
  background-color: rgb(242, 242, 242);
  box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 80%;
  left: 40%;
}

.owner-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bookings-show-city {
  font-size: 32px;
  padding-top: 20px;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 400;
}
.profile-image-container {
  position: relative;
}

.booking-info-show {
  display: block;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.booking-listing-title {
  display: block;
  margin: 0px 5px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.booking-listing-title:hover {
  text-decoration: underline;
}

.delete-booking {
  margin: auto;
  background: rgb(255, 90, 95);
  border-radius: 4px;
  border-width: 2px;
  color: white;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  padding-right: 3px;
  margin-bottom: 25px;
}

.button-container {
  display: flex;
  margin: 20px;
}

.booking-line-space {
  border-top: 1px solid #EBEBEB;
  margin: auto;
  width: 80%;
}

.spinner-container-show {
  padding-top: 100px;
  width: 100%;
}