#map-container {
  width: 100%;
  height: 100%;
}

.large-map-container {
  position: fixed;
  top: 80px;
  right: 0;
  width: 40%;
  min-width: 408px;
  height: 918px;
}

.search-result-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  min-height: 388px;
  width: 68.3%;
}

.spinner-body-search {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner-container-search {
  width: 100%;
}