#map-container {
  width: 100%;
  height: 100%;
}

.large-map-container {
  position: fixed;
  top: 80px;
  right: 0;
  width: 33%;
  min-width: 408px;
  // height: 93%;
  height: 800px;
}

.search-result-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  min-height: 388px;
  min-width: 762.59;
  width: 70%;
}

.spinner-body-search {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner-container-search {
  width: 100%;
}

.empty-result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-result-header {
  width: 60%;
  font-size: 24px;
}

.empty-result-details {
  width: 60%;
  font-size: 16px;
  font-weight: normal;
}

@media only screen and (max-width: 1500px) {
  .listing-item-container {
    width: 45%;
  }
}

@media only screen and (max-width: 1100px) {
  .large-map-container {
    position: static;
    width: 80%;
  }

  .search-result-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .results-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}